/* Отключение прокрутки */
html,
body {
  overflow: hidden; /* Отключает прокрутку */
  height: 100%; /* Устанавливает высоту на 100% */
  margin: 0; /* Убирает отступы */
}

/* Фиксация контейнера приложения */
#app {
  height: 100vh; /* Высота на весь экран */
  display: flex; /* Используем Flexbox для макета */
  flex-direction: column; /* Размещаем элементы по вертикали */
}

/* Стиль для футера */
.v-footer {
  height: auto; /* Автоматическая высота */
  padding: 16px 0; /* Внутренние отступы */
}

/* Увеличение высоты футера */
.v-footer.custom-footer {
  height: 100px; /* Фиксированная высота */
}