.idea/
GUI/backend/__pycache__/server.cpython-311.pyc
formatter/__pycache__/Formatter_Highlighter.cpython-311.pyc
formatter/__pycache__/__init__.cpython-311.pyc
utils/__pycache__/extractor.cpython-311.pyc
formatter/__pycache__/Formatter.cpython-311.pyc
